.calendar
{
}

.calendar .calendar-table
{
    width: 100%;

    table-layout: fixed;
    
    > thead
    {
        > tr
        {
            > th
            {
                padding: .5rem 0;
                text-align: center;
                border: 1px solid $primary-background;
                background: lighten($primary-background, 30%);
            }
        }
    }
    > tbody
    {
        display: table-row-group;
        .calendar-row
        {
            display: table-row;
        }
        .calendar-cell
        {
            display: table-cell;
            padding: 4px;
            position: relative;

            &.x
            {
                background: $disabled-background;
            }

            border: 1px solid $primary;

            &.today
            {
                background: #fcf8e3;
            }
            > .calendar-cell-dummy
            {
                margin-bottom: 90%;
            }
            > .calendar-cell-content
            {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 4px;
                overflow: hidden;
                
                .day-number
                {
                    text-align: right;
                    padding: 4px;
                    color: $disabled-text;
                }
                .event
                {
                    color: white;
                    background: $primary;
                    
                    border-radius: 4px;
                    padding: 2px 8px;
                    font-size: 14px;
                    &:not(:last-child)
                    {
                        margin-bottom: 4px;
                    }
                }
                .events-container
                {

                }
            }
        }
    }
}

.calendar .calendar-toolbar
{
    display: flex;
    justify-content: space-between;

    .calendar-toolbar-left
    {
        display: flex;
        justify-content: flex-start;
        font-size: 130%;
        font-weight: bolder;
    }
    .calendar-toolbar-right
    {
        display: flex;
        justify-content: flex-end;
    }
}


@mixin mixin-event-color($text-color, $background-color)
{
    color: $text-color!important;
    background-color: $background-color!important;
}
.event-color-default   { @include mixin-event-color(#000, white); }
.event-color-primary   { @include mixin-event-color(#fff, $primary-background); }
.event-color-secondary { @include mixin-event-color(#fff, $secondary-background); }
.event-color-success   { @include mixin-event-color(#fff, $success-background); }
.event-color-danger    { @include mixin-event-color(#fff, $danger-background); }
.event-color-warning   { @include mixin-event-color(#fff, $warning-background); }
.event-color-info      { @include mixin-event-color(#fff, $info-background); }
.event-color-light     { @include mixin-event-color(#000, $light-background); }
.event-color-dark      { @include mixin-event-color(#fff, $dark-background); }